.tabset {
    overflow-x: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.tabset::-webkit-scrollbar {
    display: none;
}

.tabset button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
}

.tabset div {
    border-right: 1px;
    border-right-style: solid;
    border-color: #ccc
}

.tabset div:hover {
    background-color: lightgray;
}

.tabset div.active {
    background-color: darkgray;
}

.tabset-button-close {
    font-size: 1.5rem;
    line-height: 1;
}

.tabset-button-scroll-left {
    position: sticky;
    left: 0px;
    background-color: #CCCCCC;
    border: none;
    outline: none;
}

.tabset-button-scroll-left::after {
    content: "\25C0";
}

.tabset-button-scroll-right {
    position: sticky;
    right: 0px;
    background-color: #CCCCCC;
    border: none;
    outline: none;
}

.tabset-button-scroll-right::after {
    content: "\25B6";
}

.tab-content-hidden {
    display: none;
}

.tab-content-visible {
    display: block;
    border: 1px solid #ccc;
    border-top: none;
}
