@page "/Documents"

<table class="table">
    <thead>
        <tr>
            <th>Document ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in DocumentsData)
        {
            <tr>
                <td>@document.DocumentId</td>
                <td>
                    @{
                        string pageUrl = "DocumentDetail/" + document.DocumentId;
                    }
                    <DynamicTabNavLink Page=@pageUrl Text=@document.Description />
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="border border-dark m-5 p-5">
    <Counter />
</div>
