@page "/DocumentDetail"
@page "/DocumentDetail/{DocumentId:int}"

<h3>Document Detail</h3>

@if (Document != null)
{
    <p>Document ID: <b>@Document.DocumentId</b></p>
    <p>Document Description: <b>@Document.Description</b></p>
}