@inject AppState AppState
@inject TabService TabService
@inject NavigationManager NavigationManager

<nav class="navbar fixed-top navbar-expand-sm navbar-template navbar-dark bg-dark border-bottom box-shadow">
    <a class="navbar-brand" href="#">Blazor Tabs</a>
    <div class="d-flex flex-row order-2 order-sm-3">
        @if (IsBackButtonMenuVisible)
        {
            <button class="btn btn-sm align-middle btn-primary" @onclick="Back" type="button">Back</button>
        }
        <div class="px-2">
            <DropDownList Items="@RoutingTypes" ItemSelected="@RoutingTypeChanged" ButtonImageClass="settings-icon" />
        </div>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="@NavMenuCssClass navbar-collapse order-3 order-sm-2" @onclick="ToggleNavMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <DynamicTabNavLink Page="Counter" Text="Counter" IsNavBarLink=true />
            </li>
            <li class="nav-item">
                <DynamicTabNavLink Page="FetchData" Text="Fetch Data" IsNavBarLink="true" />
            </li>
            <li class="nav-item">
                <DynamicTabNavLink Page="Documents" Text="Documents" IsNavBarLink="true" />
            </li>
        </ul>
    </div>
</nav>
