@inject TabService TabService

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
    <a class="navbar-brand text-light" asp-area="" asp-page="/Index">Blazor Tabs</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <DynamicTabNavLink Page="Counter" Text="Counter" />
            </li>
            <li class="nav-item">
                <DynamicTabNavLink Page="FetchData" Text="Fetch Data" />
            </li>
            <li class="nav-item">
                <DynamicTabNavLink Page="Documents" Text="Documents" />
            </li>
            <li class="nav-item ml-lg-auto dropdown">
                <Settings />
            </li>
        </ul>
    </div>
</nav>
