<div id="settingsbar" class="@(Visible ? "" : "hidden-settings-bar")">
    <nav id="themesMenu">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="javascript:;">Default</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;">Desktop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;">Mobile</a>
            </li>
        </ul>
    </nav>
</div>